<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/new-celebrity"> Add Celebrity</a>
<br>
<a href="/celebrities/celebrities"> Check Celebrities</a>
<br>
<a href="/movies/new-movies"> Insert Movie </a>
<br>
<a href="/movies/movies"> Check Movies </a>