<h2> Please log in</h2>
<span>{{message}}</span>
<br>
<br>
<form action="/user/login" method="post">
    <input type="email" name="email" placeholder="Insert Email">
    <br>
    <input type="password" name="password" placeholder="Input Password">
    <br>
    <button type="submit">Login</button>
</form>