<h2>Create new user</h2>

<form action="/user/new-user" method="post">
    <input type="text" name="username" placeholder="Insert Username">
    <br>
    <input type="email" name="email" placeholder="Insert Email">
    <br>
    <input type="password" name="password" placeholder="Insert Password">
    <br>
    <button type="submit"> Create User</button>
</form>