<h1> User Profile </h1>

<h2> Hello {{user.username}}, this is your profile!</h2>

<p>Email: {{user.email}}</p>
{{!-- <p><input type="password" value="{{userpas}}" id="myInput">
<input type="checkbox" onclick="myFunction()"> Show Password
</p> --}}
<a href="/celebrities/create">Create new celebrity</a>
<br>
<a href="/celebrities">See all celebrities</a>
<br>
<a href="/movies/create">Create new movie</a>
<br>
<a href="/movies">See all movies</a>
<br>
<br>
{{!-- testing the below to show password --}}

<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>